/* H5BP styles. */
/*@import "../vendor/h5bp/css/normalize.css";*/
/*@import "../vendor/h5bp/css/main.css";*/

/* Add Stylus stylesheets here, alll files ending in .styl will be compiled!
 * For example: @import "main.styl";
 *
 * Note: All stylesheets are relative to `assets/css`.
 *
 */ 

@import "../bootstrap/css/bootstrap.css";

/* Put development-only CSS below this line. */

.table{
    margin-bottom: 0px;
}

.widget {
    box-shadow: 0 0 25px 1px #a9a9a9;
    margin: 20px 20px 20px 20px;
    background-color: cornsilk;
}

.row-fluid [class*="span"]:first-child {
    margin-left: 20px;
}